<div class="load-menu row fill-viewport">
    <div class="col-md-offset-3 col-md-6 fill-viewport">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Saved Games</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" {{action "newGameForm" on="submit"}}>
                    <div class="form-group">
                        {{input type="text" placeholder="your name" class="form-control"}}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            New Game
                        </button>
                    </div>
                </form>
            </div>
            <div class="list-group">
                {{#each game in gameList}}
                    <a href="#" class="list-group-item" {{action "gameListItemClicked" game}}>{{game.name}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
