<div class="panel panel-default">
    <div class="panel-heading">
        Upcoming Turns
    </div>

    <ul class="list-group">
        {{#each frame in model.frames}}
            {{#each participant in frame}}
                <li class="list-group-item">
                    <img class="icon" {{bind-attr src=participant.pokemon.images.icon}} />
                    {{participant.pokemon.name}}
                    <small>{{participant.pokemon.type}}</small>
                </li>
            {{/each}}
        {{/each}}
    </ul>

    <div class="panel-footer"></div>
</div>
