html, body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.container {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}

.alignment {
    display: table-cell;
    vertical-align: middle;
}

.viewport {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 576px;
    background-color: #f5f5f5;
    border-radius: 6px;
    box-shadow: inset 0px 0px 20px 0px #272727;
}

.auth-modal {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.auth-form {
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 30px 5px #ccc;
}

.auth-form.hidden {
    display: none;
}

.auth-form > input {
    width: 95%;
    padding: 10px 0 10px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    font-size: 14px;
}

.auth-form > button {
    padding: 6px 12px;
    border-radius: 5px;
    margin: 15px 0 0 0;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #357ebd;
}

.auth-form > button:hover {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
    text-decoration: none;
}

.auth-form button.link {
    background-color: transparent;
    border-color: transparent;
    color: #428bca;
}

.auth-form button.link:hover {
    text-decoration: underline;
    color: #2a6496;
}

#error {
    display: none;
    font-weight: 700;
    color: #a94442;
    margin-bottom: 10px;
    text-align: center;
}

#error.visible {
    display: block;
}